.LeftSection{
    width: 50%;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    padding-left: 4%;
    padding-right: 0%;
    /* padding: 2% 4%; */
  }
  
  /* .Title{
    position: relative;
  }
  
  .Title > p{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px;
  }
  
  .Dot{
    width: 10px;
    background-color: blue;
    height: 10px;
    position: absolute;
    bottom: 16px;
    left: 338px;
  }
  
  .Paradiv{
    width: 400px;
    margin-bottom: 22px;
  }
  
  .Para{
    font-weight: 400;
    color: rgb(52, 113, 204);
  }
  
  .ButtonWrapp{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    /* margin-top: 20px; */
  /* } */
  
  /* .OtherButton{
    border: none;
    outline: none;
    width: 125px;
    height: 50px;
    border-radius: 23px;
    background-color: rgba(248, 4, 167, 0.774);
  }
  
  .ButtonWrapp > img{
    width: 50px;
  }
  
  .Arrowdiv > img{
    width: 50px;
  }  */
  
 
 