.BottomSectionWrapper{
    width: 100%;
    margin-bottom: 0px;
}
  
.SectionList1{
    width: 50%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 12px;
    padding: 16px;
    position: relative;
    margin-bottom: 5px;
}
  
  /* .Dropshadow{
    display: none;
  } */
  
.Tick1{
    width: 25px;
}
  
.Userpink1{
    width: 25px;
    position: absolute;
    left: 200px;  
}
  
.Sections1{
    font-weight: 600;
    position: absolute;
    left: 55px;
    color: #2F2F2E;  
}
  
.Date1{
    color: #B8B6B3;
    position: absolute;
    left: 248px;
}
  
.LastItempink{
    width: 23px;
    height: 10px;
    border-radius: 15px;
    background-color: #FED7DA;
    margin-left: auto;
}
  
.SectionList2{
    width: 50%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 3;
    border-radius: 12px;
    padding: 16px;
    position: relative; 
    margin-bottom: 5px; 
    filter: drop-shadow(0 0 10px lightgrey);
}
  
.Tick2{
    width: 25px;
}
  
.Userorange2{
    width: 25px;
    position: absolute;
    left: 200px;  
}
  
.Sections2{
    font-weight: 600;
    position: absolute;
    left: 55px;  
    color: #2F2F2E
}
  
.Date2{
    color: #B8B6B3;
    position: absolute;
    left: 248px;
    
}
.LastItemred{
    width: 23px;
    height: 10px;
    border-radius: 15px;
    background-color: #FD6534;  
}
  
.SectionList3{
    width: 50%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 12px;
    padding: 16px;
    position: relative;   
    margin-bottom: 5px; 
}
  
.Tick3{
    width: 25px;
}
  
.Userblue3{
    width: 25px;
    position: absolute;
    left: 200px;  
}
  
.Sections3{
    font-weight: 600;
    position: absolute;
    left: 55px;  
    color: #2F2F2E
}
  
.Date3{
    color: #B8B6B3;
    position: absolute;
    left: 248px;
}
  
.LastItemgreen{
    width: 23px;
    height: 10px;
    border-radius: 15px;
    background-color: #9ED095;  
}
  
.SectionList4{
    width: 50%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 12px;
    padding: 16px;
    position: relative;   
    margin-bottom: 5px;
}
  
.Tick4{
    width: 25px;
}
  
.Userred4{
    width: 25px;
    position: absolute;
    left: 200px;  
}
  
.Sections4{
    font-weight: 600;
    position: absolute;
    left: 55px; 
    color: #2F2F2E 
}
  
.Date4{
    color: #B8B6B3;
    position: absolute;
    left: 248px;
}
  
.LastItemorange{
    width: 23px;
    height: 10px;
    border-radius: 15px;
    background-color: #FFE3A1;  
}
  

@media(max-width: 420px){
    
   .BottomSectionWrapper{
     width: 100%;
   }

   .SectionList1{
     width: 320px;
   }

   .SectionList2{
    width: 320px;
  }
  
  .SectionList3{
    width: 320px;
  }

  .SectionList4{
    width: 320px;
  }

}  